<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body><br>
<h4 style="text-align:center"> Benvenuto nella Dashboard delle FUNZIONALITA'</h4><br><br>

<div class="container" >     
<div class="card-group">

    <a class="btn btn-danger btn-lg col text-center mr-1" href="/images" role="button">Visualizza Immagini</a>
    <a class="btn btn-info btn-lg col text-center mr-1" href="/upload" role="button">Upload Immagini</a>
    <a class="btn btn-primary colore btn-lg col text-center mr-1" href="/valute" role="button">Info Quotazioni Borsa</a>
    
</div>
</div>


</body>
</html>